*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    text-align: center;
    
}
.bg_image{
     background: url(image/bg_1920.jpg) no-repeat center/cover;
     height: 100vh;
     width: 100%;
     filter: blur(3px) contrast(80%);

}
.card{
    position: absolute;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
    background:rgb(0,0,0,0.15);
    padding:2rem;
    border-radius: 10px;
}
.quote{
   font-family: 'Pompiere', cursive;
   font-size: 3rem;
}
.author{
    color: #120808a8;
    opacity: 0.5;
    font-size: 1.5rem;
    margin-top:0.5rem;
}

.fa-droplet{
    color: rgb(248, 243, 243);
    position: absolute;
    top: -20px;
    animation: fall linear forwards;
}
/*animation qui permet que les gouttes sortent de l'écran*/
@keyframes fall {
    to{
        transform: translateY(105vh);
    }
    
}
.btn{
   position: relative;
    background:rgb(0,0,0,0.15);
    margin-top: 2rem;
    padding:0.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}